Repository cmu-delphi/www-main, pull requests merged in 2021-04, with the labels that each got.

#301 fix pushing image tags
  .github/workflows/ci.yaml
Labels: chore

#302 Link to a new survey blog post
  content/covidcast/surveys.md
Labels: content

#303 restore api blog post
  content/blog/2020-08-28-api.Rmd
Labels: chore

#307 prepare for data-anomalies page
  config.toml
  content/covidcast/data-anomalies.md
  content/covidcast/export.md
Labels: enhancement

#305 prepare for correlation page
  config.toml
  content/covidcast/correlation.md
  package-lock.json
  package.json
Labels: enhancement

#308 add release notes for v2.2.0 and v2.3.0
  content/covidcast/release-log/headless/v2.2.0.md
  content/covidcast/release-log/headless/v2.3.0.md
Labels: content

#309 update to COVIDcast v2.3.1
  package-lock.json
  package.json
Labels: enhancement

#314 build(deps): update dependencies and configure dependabot
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: chore

#315 update team pages
  content/about/team/index.md
  content/people/index.md
Labels: content

#292 center of excellence page
  .prettierignore
  config.toml
  content/about/center-of-excellence/index.md
  content/about/center-of-excellence/logos/cdc.png
  content/about/center-of-excellence/logos/reichlab.png
  themes/delphi/assets/css/main.scss
  themes/delphi/assets/css/pages/_about.scss
  themes/delphi/assets/css/pages/_coe.scss
  themes/delphi/layouts/_default/about.html
  themes/delphi/layouts/_default/coe.html
  themes/delphi/layouts/partials/coe/members.html
  themes/delphi/layouts/partials/coe/research-papers.html
  themes/delphi/layouts/partials/coe/sisters.html
Labels: content

#323 add note about flu and use https links when possible
  content/about/_index.md
  content/about/news/headless/2016_12.md
  content/about/news/headless/2017_10.md
  content/about/news/headless/2018_11.md
  content/about/publications/index.md
  content/flu/_index.md
  content/people/index.md
Labels: content

#321 Update Team Page
  content/about/team/index.md
  content/people/headshots/christy-melucci.jpg
  content/people/headshots/michael-fink.jpg
  content/people/index.md
Labels: content

#319 Johnson & Johnson vaccine pause blog post
  content/blog/2021-03-10_c2b.Rmd
  content/blog/_2021-04-20-jj-vaccine.Rmd
  content/blog/_2021-04-20-jj-vaccine.html
  static/blog/_2021-04-20-jj-vaccine_files/figure-html/side-effect-hesitancy-1.svg
  static/blog/_2021-04-20-jj-vaccine_files/figure-html/side-effect-hesitancy-map-1.svg
  static/blog/_2021-04-20-jj-vaccine_files/figure-html/uptake-acceptance-1.svg
Labels: blog

#332 style changes
  content/about/news/_index.md
  content/about/news/headless/2016_12.md
  content/about/news/headless/2017_10.md
  content/about/news/headless/2018_11.md
  content/about/news/headless/2019_10_CenterOfExcellence.md
  content/about/news/headless/2020_03_covid.md
  content/about/news/headless/2020_04_covidcast.md
  content/about/news/headless/2020_10_fellows.md
  themes/delphi/assets/css/components/_arrow_link.scss
  themes/delphi/assets/css/components/_latest_card.scss
  themes/delphi/assets/css/main.scss
  themes/delphi/assets/css/pages/_news.scss
  themes/delphi/layouts/shortcodes/news.html
Labels: design, enhancement

#306 C2b blogpost minor typos fix
  content/blog/2021-03-10_c2b.Rmd
  content/blog/2021-03-10_c2b.html
  static/blog/2021-03-10_c2b_files/figure-html/WPRDC-1.svg
Labels: blog

#333 Vaccine uptake/acceptance/hesitancy among Hispanic adults
  content/blog/2021-04-29-vaccine-trends-hispanic.Rmd
  content/blog/2021-04-29-vaccine-trends-hispanic.html
  content/people/index.md
  static/blog/2021-04-29-vaccine-trends-hispanic_files/hesitancy_over_time_hispanic_and_white_adults.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/hesitancy_over_time_hispanic_and_white_adults_select_states.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/map_appt_have_among_hispanic.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/map_appt_tried_among_hispanic.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/map_hesitancy_among_hispanic.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/map_informed_among_hispanic.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/reasons_among_hispanic_and_white_adults_top10_states.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/reasons_among_hispanic_top10_states.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/table1.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/table2.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/table3.png
  static/blog/2021-04-29-vaccine-trends-hispanic_files/table4.png
  static/blog/images/blog-lg-vaccine-2.jpg
  static/blog/images/blog-lg-vaccine-2.webp
  static/blog/images/blog-thumb-vaccine-2.jpg
  static/blog/images/blog-thumb-vaccine-2.webp
  themes/delphi/layouts/partials/webp-image.html
Labels: blog
